<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">
    <%- partial('_common/social', null, {cache: !config.relative_link}) %>
    <div class="copyright">

        <% if(theme.site.copyright) { %>
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <% } %>

        <% if (theme.pv.busuanzi.enable) { %>
            <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
            <span id="busuanzi_container_site_pv_diy" class="busuanzi">pv: <span id="busuanzi_value_site_pv">0</span> </span>
            <span id="busuanzi_container_site_uv_diy" class="busuanzi">uv: <span id="busuanzi_value_site_uv">0</span></span>
        <% } %>

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2713518338457470"
     crossorigin="anonymous"></script>

    </div>
</footer>
